{% extends 'base.html' %}
{% load static %}

{% block content %}

    <main class="container">
        <div class="row display-flex">
            <div class="col-lg-3">
                <div class="contact_info">
                    <div class="info_item">
                        <i class="lnr lnr-home"></i>
                        <h6>Mitishy, Russion Federation</h6>
                        <p>Academic Popov street</p>
                    </div>
                    <div class="info_item">
                        <i class="lnr lnr-phone-handset"></i>
                        <h6><a href="#">+7 (440) 986 55 62</a></h6>
                        <p>Mon to Fri 9am to 6 pm</p>
                    </div>
                    <div class="info_item">
                        <i class="lnr lnr-envelope"></i>
                        <h6><a href="mailto:support@geekshop.com">support@geekshop.com</a></h6>
                        <p>Send us your query anytime!</p>
                    </div>
                </div>
            </div>

        </div>
    </main>

{% endblock %}