{% extends 'base.html' %}
{% load static %}



{% block content %}
    <main>

        <div class="container">
            <div class="banner_content display-flex">
                <div class="col-lg-5">
                    <h3>Georgia Helmet <br>Collections!</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut
                        labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation.</p>
                    <a class="white_bg_btn" href="#">View Collection</a>
                </div>
                <div class="col-lg-7">
                    <div class="halemet_img">
                        <img src="{% static 'geekshop/img/helmat.png' %}" alt="">
                    </div>
                </div>
            </div>
        </div>

        <section class="feature_product_area">
            <div class="main_box">
                <div class="container">
                    <div class="row hot_product_inner display-flex justify-content-sb">
                        <div class="col-lg-6">
                            <div class="hot_p_item">
                                <img class="img-fluid" src="{% static 'geekshop/img/hot-p-1.jpeg' %}" alt="hot item">
                                <div class="product_text">
                                    <h4>Hot Deals of <br>this Month</h4>
                                    <a href="#">Shop Now</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="hot_p_item">
                                <img class="img-fluid" src="{% static 'geekshop/img/hot-p-1.jpeg' %}" alt="hot item">
                                <div class="product_text">
                                    <h4>Hot Deals of <br>this Month</h4>
                                    <a href="#">Shop Now</a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="feature_product_inner">
                        <div class="main_title">
                            <h2>Featured Products</h2>
                            <p>Who are in extremely love with eco friendly system.</p>
                        </div>
                        <div class="owl-stage display-flex">
                            {% include 'includes/inc_index_hot_items.html' %}
                        </div>
                    </div>
                </div>
            </div>
        </section>


    </main>
{% endblock %}