{% extends 'base.html' %}
{% load static %}


{% block content %}
    <div class="main_box p30">
        <div class="owl-item m-r-30">
            <div class="item">
                <div class="f_p_item">
                    <div class="f_p_img">
                        <img class="img-fluid" src="/media/{{ product.image }}" alt="item">
                        <a href="{% url 'basket:add' product.pk %}" class="buy_menu">
                            <img src="{% static 'geekshop/img/buy.svg' %}" alt="buy">
                        </a>
                    </div>

                    <a href="{% url 'products:product' product.pk %}"><h4>{{ product.name }}</h4></a>
                    <h4>{{ product.description }}</h4>
                    <h5>{{ product.price }} ₽</h5>
                </div>
            </div>
        </div>
    </div>
{% endblock %}